<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>ChatGPT - Your AI assistant</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Your AI assistant</h1>
    <p>¡Bienvenido a tu mejor Bot! Introduce aquí lo que quieres saber.</p>
    <form method="POST">
      <label for="variable"></label>
      <input name="variable" id="variable">
      <button type="submit">Haz clic aquí</button>
    </form>
  </div>
  <video autoplay loop muted>
    <source src="static/caballos.mp4" type="video/mp4">
  </video>
</body>
</html>
