<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Answer</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>ERROR</h1>
    <p>No te hemos pedido tantas cosas, pero aun así has demostrado tu inutilidad una vez más. Vuelve atrás y rellena los campos bien. Inútil.</p>
    <p><a href="/">Back</a></p>
  </div>
  <video autoplay loop>
    <source src="static/Anhqv2.mp4" type="video/mp4">
  </video>
</body>
</html>